.CreatPostContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    border-radius: 5px 5px;
    background-color:$secondary;
    gap: 10px;
    margin: 8px;
    padding: 10px;
    max-width: 1000px;
  width: 100%;

  .PostForm {
    width: 60%;

    @media screen and (max-width: 450px){
      width: 90%;
    }
  }

  textarea {
    resize: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 150px;

  }
  }
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .send  {
    background-color:  lighten($color: $primary, $amount: 8);
  }
  
  #file-upload{
    display: none;
  }