@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

$primary: #FD2D01;
$secondary: #FFD7D7;
$tertiary:  #4E5166;

body{
    font-family: 'Lato', sans-serif;
}

.deconnexion  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FD2D01;
  font-size: larger;
font-weight: 600;
padding: 8px;
margin-bottom: 0px;
}
a{
  color: #FD2D01;
}

h1 {
  color: white ;
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: $tertiary;
img {
    object-fit: cover;
    width: 60%;
    max-width: 500px;
    height: 200px;
}
}

.login, .register{

  h2{
    text-align: center;
    color: $primary;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

ul{
  padding: 0px;
}

.show-login, .show-signup {
  background-color: $primary,
  
}


.publications{
  background-color: $tertiary;
  padding: 10px;

  img{
    width: 200px;
    aspect-ratio: 1/1;
  }
}

h3 {
display: flex;
flex-direction: row; 
justify-content: space-between;
color: $tertiary;
border: 3px groove red;
border-radius: 5px 5px 0px 0px;
}

.stylePost {
  border-radius: 5px;
  background-color: $secondary;
  gap: 8px;
  margin: 8px;
}


